.viewer {
  width: 100%;
  height: 100%;
  display: inline-flex;
  .left, .right{
    height: 100%;
  }
  .left{
    width: 85%;
    background-color: whitesmoke;
    #tubeViewer {
      width: 100%;
      height: 100%;
    }
  }
  .right {
    width: 15%;
    .bot, .top{
      width: 100%;
    }
    .bot {
      height: 75%;
      background-color: white;
    }
    .top {
      height: 25%;
      background-color: ghostwhite;
    }
  }
}