.time {
  color: dimgrey;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .dots{
    @keyframes shading {
      from {opacity: 0.1;}
      to {opacity: 1;}
    }
    animation: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: shading;
  }
}