@import 'rangeslider';
.controls {
  height: 100%;
  width: 100%;
  position: relative;
  .btn {
    background-color: greenyellow;
    height: 48px;
    width: 96px;
    border-radius: 10px;
    position: relative;
    user-select: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      background-color: lawngreen;
    }
    .toggleText {
      color: darkblue;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      font-weight: bold;
    }
  }
}